html, body {
  height: 100%; }

body {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/pokeballs.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/pokeballs.jpg") no-repeat center center fixed;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

h1 {
  text-transform: uppercase;
  font-weight: 700; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif; }

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.6); }
  .nav__logo {
    display: inline-block; }
    .nav__logo img {
      max-height: 65px; }
  .nav__list {
    list-style-type: none;
    text-transform: uppercase;
    float: right;
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block;
    text-align: center; }
  .nav__link {
    display: inline-block;
    text-decoration: none;
    padding: 2rem 1rem;
    color: white; }
    .nav__link:hover {
      background-color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      color: black; }

@media screen and (max-width: 767px) {
  .nav__logo {
    display: none; }
  .nav__list {
    width: 100%; }
  .nav__item {
    width: 25%;
    float: left; }
  .nav__link {
    width: 100%; } }

.button {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 300px;
  border: 2px solid rgba(255, 255, 255, 0.6); }
  .button:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.6); }
  .button:visited {
    text-decoration: none; }

.home {
  display: table;
  width: 100%;
  height: 100%;
  color: white; }
  .home__title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 2em; }
  .home__logo {
    display: inline-block;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 300px; }
  .home__header {
    font-size: 4em; }
  .home__header, .home__summary {
    text-shadow: 4px 4px black; }
  .home__button-list {
    margin-top: 3em; }
  .home__button {
    margin: 1em; }

.section {
  background-color: #eee;
  padding-bottom: 2.5em; }
  .section__header {
    margin: 0;
    padding-top: 3em;
    padding-bottom: 1.5em; }
  .section__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em; }
  .section__separator {
    border-top: solid 5px;
    max-width: 250px; }

.service-card {
  padding: 1em;
  color: #262626;
  height: 410px; }
  .service-card h2, .service-card h3 {
    text-transform: uppercase; }
  .service-card__image {
    height: 150px;
    overflow: hidden;
    position: relative; }
    .service-card__image img {
      margin: auto;
      display: table-cell;
      box-shadow: 0 2px 4px gray;
      max-width: 100%;
      max-height: 100%;
      border-radius: 2.5%; }
  .service-card__header {
    width: 100%;
    border-bottom: 2px solid gray; }
    .service-card__header h3 {
      text-align: center;
      font-size: 1.2em;
      font-weight: bold; }
  .service-card__copy {
    display: table;
    text-align: center;
    margin: auto;
    font-size: 16px; }
    .service-card__copy p {
      height: 50%;
      display: table-cell;
      vertical-align: middle;
      margin: auto; }

@media screen and (max-width: 767px) {
  .service-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }
    .service-card__copy {
      width: 75%;
      height: 50%; } }

.whyus {
  background: transparent;
  max-height: 500px;
  color: white; }
  .whyus__copy {
    text-align: center;
    margin: auto;
    max-width: 768px;
    padding: 1em; }

.contact {
  background-color: #ededed; }
  .contact__button-list {
    text-align: center;
    margin: auto;
    padding-bottom: 50px; }
  .contact__button {
    text-transform: none;
    display: inline-block;
    max-width: 768px;
    margin: 0.5em; }
  .contact .form-submission {
    margin: auto;
    max-width: 768px; }
  .contact form input:first-child {
    border-top: 2px solid #ccc; }
  .contact form input, .contact form textarea {
    font-size: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    padding: 1.5em; }
  .contact form textarea {
    height: 200px; }
  .contact form .submit-button {
    text-align: center; }
    .contact form .submit-button button {
      font-size: 1.5em;
      width: 40%;
      padding: 0.5em;
      margin: 1.5em; }

.footer {
  height: 150px;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 25px;
  font-size: 4em;
  color: white; }
