.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    color: #eee;
    background-color: $nav-color;

    &__logo {
        display: inline;
        opacity: 0.8;
    }

    &__list {
        list-style-type: none;
        text-transform: uppercase;
        float: right;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        display: inline-block;
    }
    
    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 2rem 1rem;
        color: white;
    
        &:hover {
            background-color: rgba(white, 0.6);
            text-decoration: none;
            color: black;
        }
    }
}