@import 'variables';

.navbar-ontop {
    background-color: transparent;
    border-bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    color: #eee;
    background-color: $nav-color;
    border-bottom: 1px solid darken($nav-color, 10);

    a {
        display: inline-block;
        text-decoration: none;
        padding: 2rem 1rem;
        color: white;

        &:hover {
//            background-color: $main-color;
            text-decoration: none;
            color: $main-color;

        }
    }

    ul {
        list-style-type: none;
        text-transform: uppercase;
        float: right;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
}
