$nav-color: rgba(black, 0.6);
$main-color: #47a1ef;

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eee;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
/*    color: #444;*/
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    color: #eee;
    background-color: $nav-color;
    // border-bottom: 1px solid darken($nav-color, 10);

    #logo {
        display: inline;

        img {
            opacity: 0.6;
            // display: inline-block;
            // height: 50%;
            // margin: none;
            // padding: none;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        padding: 2rem 1rem;
        color: white;

        &:hover {
            // background-color: $main-color;
            text-decoration: none;
            color: $main-color;
        }
    }

    ul {
        list-style-type: none;
        text-transform: uppercase;
        float: right;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
}

.title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 2em;
}

.section-header {
    margin: 0;
    padding-top: 3em;
    padding-bottom: 1.5em;
    
    h2 { 
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 2.5em;
    }
    
    hr {
        border-top: solid 5px;
        max-width: 250px;
    }
}

.button {
    background-color: $nav-color;
    border: none;
    padding: 1em;
    margin: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        color: black;
        background-color: rgba(white, 0.6);
    }
}

#home {
    display: table;
    background: linear-gradient(
        rgba(black, 0.5), rgba(black, 0.5)
    ), url(http://i.imgur.com/Rh8e8E3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 4em;
    }

    h1, h2 {
        text-shadow: 4px 4px black;
        text-align: center;
        color: white;
        font-family: Montserrat, Helvetica Neue, sans-serif;
    }
}

#services {
    h2,h3 {
        text-transform: uppercase;
    } 
            
    .service-card {
        // border: 2px solid black;
        margin: 1em;
        padding: 0.6em;
        background-color: darken(#eee, 4);
        color: lighten(black, 15);
        box-shadow: 0 0 4px gray;
        height: 410px;
        
        .service-icon {
            height: 150px;
            // max-height: 150px;
            overflow: hidden;
            position: relative;
            
            img {
                margin: auto;
                display: table-cell;
                box-shadow: 0 2px 4px gray;
                max-width: 100%;
                max-height: 100%;
                border-radius: 2.5%;
            }
        }

        .service-card-header {
            width: 100%;
            border-bottom: 2px solid gray;
        }
        
        h3 {
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }
        
        .service-card-copy {
            display: table;
            text-align: center;
            margin: auto;
            font-size: 0.9em;

            p {
                display: table-cell;
                vertical-align: middle;
                margin: auto;
            }
        }
    }
    
}

#whyus {
    background: linear-gradient(
        rgba(black, 0.5), rgba(black, 0.85)
        ), url(http://corvino.us/assets/images/pokemongo-145530996-4-2000x1125-98.jpg);
    background-size: cover;
    height: 75%;
    max-height: 768px / 2; 
    color: white;
    p {
        text-align: center;
        margin: auto;
        max-width: 768px;
        padding: 1em;
    }
}

#contact {
    background-color: #ededed;
    .form-submission {
        // text-align: center;
        margin: auto;
        max-width: 768px;
    }
    form {
        // padding: 0 1em;
        
        input:first-child {
            border-top: 1px solid #ccc;
        }

        input, textarea {
            font-size: 1.1em;
            background-color: transparent;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0;
            padding: 1.5em;
        }
        
        textarea {
            height: 200px;
        }
        
        .submit-button {
            text-align: center;
            button {
                font-size: 1.5em;
                width: 40%;
                padding: 0.5em;
            }
        }
    }
}