@import "config";
@import "navbar";
@import "home";

#services {
    h2,h3 {
        text-transform: uppercase;
    } 
            
    .service-card {
        // border: 2px solid black;
        margin: 1em;
        padding: 0.6em;
        // background-color: darken(#eee, 4);
        color: lighten(black, 15);
        // box-shadow: 0 0 4px gray;
        height: 410px;
        
        .service-icon {
            height: 150px;
            // max-height: 150px;
            overflow: hidden;
            position: relative;
            
            img {
                margin: auto;
                display: table-cell;
                box-shadow: 0 2px 4px gray;
                max-width: 100%;
                max-height: 100%;
                border-radius: 2.5%;
            }
        }

        .service-card-header {
            width: 100%;
            border-bottom: 2px solid gray;
        }
        
        h3 {
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }
        
        .service-card-copy {
            display: table;
            text-align: center;
            margin: auto;
            font-size: 0.9em;

            p {
                display: table-cell;
                vertical-align: middle;
                margin: auto;
            }
        }
    }
    
}

#whyus {
    background: linear-gradient(
        rgba(black, 0.5), rgba(black, 0.85)
        ), url(http://corvino.us/assets/images/pokemongo-145530996-4-2000x1125-98.jpg);
    background-size: cover;
    height: 75%;
    max-height: 500px; 
    color: white;
    p {
        text-align: center;
        margin: auto;
        max-width: 768px;
        padding: 1em;
    }
}

#contact {
    background-color: #ededed;
    .form-submission {
        // text-align: center;
        margin: auto;
        max-width: 768px;
    }
    form {
        // padding: 0 1em;
        
        input:first-child {
            border-top: 2px solid #ccc;
        }

        input, textarea {
            font-size: 1.1em;
            background-color: transparent;
            border: none;
            box-shadow: none;
            border-bottom: 2px solid #ccc;
            border-radius: 0;
            padding: 1.5em;
        }
        
        textarea {
            height: 200px;
        }
        
        .submit-button {
            text-align: center;
            button {
                font-size: 1.5em;
                width: 40%;
                padding: 0.5em;
            }
        }
    }
}